*{
    overflow: auto;

}

#main-section {
    background-color: #1f2937;
   color:white;
   padding: 20px 60px;
}

#shop-link{
    float:right; 
    text-align:center;
    
}

#shop-link a {
    margin-right: 40px;
    text-decoration: none;
    color:white;
    
}

#shop-link a:hover{
    background-color: white;
    color:black;
}

#align.left {
    float: left;
}

.hero-img {
    float: right;
   
}