.blue , footer {
    background-color: #1f2937;
}

#maintext {
    font-size: 48px ; 
    font-weight: bold !important;

}

/*header links */

a {
   text-decoration: none;
   color: white;
   
}

nav {
    overflow: hidden;
}

/* Style the navigation links */
nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 20px;
}

.blue  {
    display: inline-block;
}

/* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    padding: 16px 20px;
}

.align-right img  {
    float:right;
}

.align-left   {
    text-align: left;
    float: left;
}

